opencv-python
joblib
# torch==0.4.1.post2
# git+git://github.com/rlworkgroup/metaworld.git@6f1a94f7b540045e81cf8d2fb758230b7dad5bdc
python-dateutil
pygame
gtimer
gym==0.10.5
scipy
scikit-video
boto3
torchvision==0.2.2
mujoco_py
git+https://github.com/vitchyr/multiworld.git@f711cdb