opencv-python
joblib
torch
python-dateutil
pygame
gtimer
gym=0.10.5
scipy
scikit-video
git+git://github.com/rlworkgroup/metaworld.git@6f1a94f7b540045e81cf8d2fb758230b7dad5bdc
git+https://github.com/vitchyr/multiworld.git